* {
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #f0f1f1;
}

header {
    background-color: blueviolet;
    padding: 10px;
    color: whitesmoke;
    text-align: center;
}

main{
    padding: 30px 50px;
    width: 40%;
    margin: auto;
}

label{
    padding-bottom: 1rem
}

input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: 0; 
}

button{
    border: 0px;
    padding: 10px;
    background-color: blueviolet;
    color: #fff;
    border-radius: 3px;
    font-weight: bold;
    transition: all ease 0.3s;
}

button:hover{
    background-color: rgb(80, 28, 129);
}

table{
    border-collapse: collapse;
    border: 1px solid #ccc;
    width: 100%;
}

table th{
    background-color: rgb(214, 214, 214);
}

table th, td{
    padding: 1px 5px;
    text-align: left;
}

table td img{
    width: 20px;
}

.center{
    text-align: center;
}

.card{
    background-color: whitesmoke;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
}

.lineInput {
    display: grid;
    margin-bottom: 10px;
}

.content{
    margin-top: 15px;
}
gg
.title{
    text-align: center;
}